MYSQL_ROOT_PASSWORD=yourpassword
CLOUDINARY_CLOUD_NAME=yourcloudname
CLOUDINARY_API_KEY=yourapikey
CLOUDINARY_API_SECRET=yourapisecret
JWT_SECRET=replace_with_a_long_random_string_at_least_32_chars
GMAIL_USERNAME=your_gmail_email_address
GMAIL_APP_PASSWORD=your_gmail_app_password
